.container {
    padding: .6667rem;
}

.placeInput {
    display: flex;
    align-items: center;
}

.actionInput {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 30%;
}

.actionInput button {
    font-size: .8rem;
}

.noAmount {
    color: #ccc;
}

.yesAmount {
    color: #ccc;
}

.outAmount {
    color: red;
}

.history {
    display: flex;
    justify-content: flex-end;
}

.history button{
    font-size: .8rem;
}